
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: #e0e0e0;  
}
*{
    font-family: 'Ubuntu',sans-serif;
    
}
a {
    text-decoration: none;
    color: black ;
}
.head{
    background-color: rosybrown;
    width: 100%;
    
    display: flex;
    z-index: 1;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0px;
    }
  
    header img{
        margin-left: 1%;
       height: 100%;
       width: 60px;
   }
   .heading {
    font-family: cursive ;
}
  
  #logo, #login{
  margin-right: 2%;
  }

#foot{
    background-color:rosybrown;
    position: fixed;
    width: 100%;
    z-index: 1;
    display:flex;
    justify-content: space-between;
    width: 100%;

    align-items: center;
    bottom: 0px;
    }
    #contact{
    margin-left: 2%;
    margin-top: 1%;
    margin-bottom: 1%;

   }
   #copy{
       padding-top: 10px;
    font-size: 10px;

    }
    #social{
     margin-right:2%;
     }
    .socialimg{
     height: 20px;
     width: 22px;
  
  }
  #login-form {
    display: flex;
    flex-direction: column;
}
.login-field {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 2%;
}
#login-button {
    margin: auto;
}
.checked {
    color: orange;
}
.modal {
    display: none;
    position: fixed;
    z-index: 999;
    /* background-color: rgba(0, 0, 0, 0.4); */
    background-color: #000;
    width: 100%;
    height: 100%;
}

#loginx {
    background-color: #fff;
    padding: 25px;
    height: auto;
    width: 700px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    position: relative;
    margin: 15% auto;
    margin-top: 0;
    

}

#contactus {
    width: 400px;
}

#loginx {
    width: 350px !important;
    box-sizing: border-box !important;
    font-size: 1rem !important;
}

#loginx input {
    height: 30px;
    border-radius: 5px;
    border: 1px solid #ddd;
    width: 100%;
    padding: 10px;
    font-size: .83rem !important;
}




.close {
    top: 0;
    position: absolute;
    right: 0;
    padding: 20px;
    cursor: pointer;
    color: #000 !important;
    opacity: .7 !important;
    font-size: 1rem !important;
}