html,body{
    height: 100%;
   width: 100%;
  }
  #wrapper{
   height: 100%;
  width: 100%;
 }
 header img{
    height: 60px;
    width: 60px;
  }
.radisonimg{
    height: 500px;
    width: 500px;
}
p{
    margin:0px;
    padding: 0px;
}
.socialimg{
    width:22px ;
    height: 20px;
  }
