    #content{
        display: flex;
        flex-direction: column;

    }
    
    #content1{
        background-image: url("https://media-cdn.tripadvisor.com/media/photo-o/14/10/2e/af/india.jpg");
    
        height: 380px;
        
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }
  
    .search{
    
    position: absolute;
    top: 50%;
    left: 36%; 
    right: 36%;
    bottom: 50%;
   }
.search input{
    border: 1px solid transparent;
    outline: none;
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 16px;
    border-radius: 12px;
    width: 100%


}

.cityimg, #img a{
     height: 150px;
      display: block;
     width: 150px;
     border-radius: 25%;
   
    
}
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    border-radius: 25%;
    transition: .5s ease;
    background: rgba(0,0,0,.5)
  }
  .img1:hover .overlay {
    opacity: 1;
  }
  
  .text {
    color :#f1f1f1;
    font-size: 20px;
    position: absolute;
    top: 40%;
    left: 40%;
    transform: translate(-20%, -20%);
    -ms-transform: translate(-20%, -20%);
    text-align: center;
  }



#content2{
    margin: 5%;
    display: flex;
    justify-content: space-evenly;
}
.img1{
    height: 150px;
    width: 150px;
    position: relative;
    display: flex;
    border-radius: 25%;
    align-items: flex-end;
    box-shadow: 10px 10px 10px gray;

    transition: 0.6s ease-out;
}

 
 #view-more{

        margin-bottom:7%;
        display: flex;
        justify-content: center;
    
}

 
 