

  #container{
    margin-top:7%;
    margin-bottom:10%;
  }
    
  .hotel-image-small {
    height: 200px;
    width: 250px;
}
   .hotel{
    margin: 4% 5% 0% 5%; 
    background-color: lightgrey;
    width: 40%;
    float: left;
    display: flex;
    justify-content: start;
    align-items: center;
}
.hotel:hover {
    background-color: rosybrown;
}
.info{
  margin-left: 5%;
}
#list-container {
  position: relative;
  height: 100%;
  width: 100%;
  margin-top: 6%;
}
#list-map {
  position: relative;
  top: 0%;
}

#pills-tab {
  justify-content: center;
}
  ul li{
  display: inline-block;
  margin:10px;
  padding: 10px;
  font-weight: bold;
  text-decoration: none;
  color: black;
 
   }
  ul {
  display: inline-block;
  margin: 0px;
  width: 300px;
   }
  

  .cityimg{
    height: 200px;
    width: 250px;
}
#map {
  height: 100%;
}

 
 
