
 

  #content{
    display: flex;
    margin-top:10%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }
  .inner1{
    background-color: rgb(132,136,139);
    margin:2%;
    display: flex;
    width:50%;
    height: 20%;
    margin: 2% auto;
    align-items: center;

  
  }
  .inner2{
    display: flex;
    
    width: 90%;
    margin: 0% 2%;
    justify-content: space-evenly;
    align-items: center;
    align-items: center;
    border:1px solid black;
    border-radius: 5px;
    background-color: rosybrown;
  }
  .address{
    display: inline-block;
  }
  .paynow{
    color: black;
  }

  
  .radisonimg{
    max-height: 300px;
    max-width: 270px;
    margin-right: 3%;
 }
 .bold{
    font-weight: bold;
 }

 
